
body {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.Fondo {
    background-color: darkred;
    color: antiquewhite;
    padding: 5px;
    text-align: center;
}